/*
 * programID : lgoin.css
 * 내용      : 로기은 페이지 css
 * */
 
 
@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.topBar {
	background:#7561F9;	
	height:100px;
	padding-left: 30px;
	padding-top: 10px;    
	cursor: pointer;
}

.topLabel {
    font-family: serif;
    font-size: 35px;	
    color: white;
}

.wrap {
	width: 450px;	
	background: #ffffff;	
	padding-top:20px;
	padding-bottom:20px;
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 10px 1px #7561F9; 
    position:absolute;
    left: 50%;
    top: 60%;
    margin-left: -200px;
    margin-top: -250px;
    margin-bottom: 50px;
}

.header {	
	
	margin-top: 20px;
	margin-bottom: 20px;
	/* background: maroon;	 */
	text-align: right;
}

.basicBtn {
    color: #ffffff;
    background: #7561f9b8;
    border: 1px #7561f94f solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    width: 200px;
    height: 50px;
}

.basicBtn:hover {
	box-shadow: 1px 1px 5px 1px #989292;
}

.basicBtn:active {
    box-shadow: 0 0 0 0 #DADADA;       
}

.signBtn {
    color: #ffffff;
    background: #7561f9b8;
    border: 1px #7561f94f solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    width: 100px;
    height: 40px
}

.signBtn:hover {
	box-shadow: 1px 1px 5px 1px #989292;
}

.signBtn:active {
    box-shadow: 0 0 0 0 #DADADA;       
}

.middle {
	width: 365px;
	margin-left: 50px;	
	margin-top: 20px;
	margin-bottom: 20px;
	/*background: beige;	*/	
}

.content {
	width: 300px;
	margin-left: 35px;	
	margin-bottom: 10px;
	/*background: maroon;	*/
	text-align: center;	
}

.msg{
	width: 300px;
	margin-left: 5px;		
	margin-top:5px;
	/*background: maroon;	*/
	text-align: center;		
}

.fail {	
	color:red;
	/* background:beige; */
	font-size: 7pt;

}

.nomal {	
	color:black;
	/* background:beige; */
	font-size: 7pt;	
}

input {
   	width: 200px;
   	height: 23px;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 5px;    
    font-size: 10pt;
    outline: none;
    margin-top: 20px;
}

input:focus {
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 5px 1px #7561F9;    
}

.footer {
	width: 365px;
	height: 50px;
	margin-left: 50px;	
	margin-bottom: 40px;
	/*background: orange;	*/
}

.signUpBtnWrap {
	width: 300px;
	margin-left: 35px;	
	margin-bottom: 20px;
	/*background: maroon;	*/
	text-align: center;
}