/*
 * programID : patternRegiView.css
 * 내용      : 등록 페이지 css
 * */

@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.topBar {
	background:#7561F9;	
	height:100px;
	padding-left: 30px;
	padding-top: 10px;
	cursor: pointer;    
}

.topLabel {
    font-family: serif;
    font-size: 35px;	
    color: white;
}

textarea {
	resize: none;
	width: 625px;
	height: 110px;
}

label {
	font-family:monospace;
	font-weight: 560;
	font-size:15px;
	color:#0e0e0ebd

}

.labelWrap {
	float: left;
}

.SRBtnWrap {
	float: right;	
}

.rowBtnWrap {
	float: right;	
}

.loginHeader {	
	margin-top: 20px;
	margin-bottom: 20px;
	/* background: maroon;	 */
	text-align: right;
}

.signBtn {
    color: #ffffff;
    background: #7561f9b8;
    border: 1px #7561f94f solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    width: 100px;
    height: 40px
}

.signBtn:hover {
	box-shadow: 1px 1px 5px 1px #989292;
}

.signBtn:active {
    box-shadow: 0 0 0 0 #DADADA;       
}

.wrap {
	width: 900px;	
	background: #ffffff;	
	padding-top:20px;
	padding-bottom:20px;
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 10px 1px #7561F9; 
    position:absolute;
    left: 50%;
    top: 60%;
    margin-left: -450px;
    margin-top: -350px;
    margin-bottom: 50px;
}

.header {
	width: 750px;
	height: 140px;
	margin-left: 50px;	
	margin-bottom: 10px;
	/*background: yellow;*/
}

.date {
	width: 650px;;
	height: 30px;
	margin-left: 50px;	
	margin-bottom: 20px;
	/*background: aqua;*/
}

.datepicker {
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 5px;    
    font-size: 9pt;
    outline: none;
    text-align: center;
    width: 80px;
}

.datepicker:focus {
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 5px 1px #7561F9;    
}

.rowCtrWrap {
	width: 680px;;
	height: 30px;
	margin-left: 50px;	
	margin-bottom: 20px;
	/*background: gray;	*/
}

.workListWrap {
	width: 680px;
	height: 30px;
	margin-left: 50px;	
	margin-bottom: 20px;
	/*background: fuchsia;*/
}

.rowBtn {
    color: #ffffff;
    background: #7561f9b8;
    border: 1px #7561f94f solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

.rowBtn:hover {
	box-shadow: 1px 1px 5px 1px #989292;
}

.rowBtn:active {
    box-shadow: 0 0 0 0 #DADADA;       
}

.basicBtn {
    color: #ffffff;
    background: #7561f9b8;
    border: 1px #7561f94f solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

.basicBtn:hover {
	box-shadow: 1px 1px 5px 1px #989292;
}

.basicBtn:active {
    box-shadow: 0 0 0 0 #DADADA;       
}

.middle {
	width: 750px;
	/*background: black;*/
	margin-left: 50px;
	margin-bottom: 10px;		
}

.content {
	width: 680px;;	
	margin-left: 40px;	
	margin-bottom: 20px;
	/*background: red;	*/
	border: 1px #DADADA solid;
	border-radius: 5px;
	padding-top: 10px;	
	padding-bottom: 10px;
	padding-left: 10px;
}

.doWorkWrap {		
	margin-bottom: 20px;
}

.doWork {    
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 5px;    
    font-size: 9pt;
    outline: none;
}

.doWork:focus {
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 5px 1px #7561F9;    
}

.doContent {
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 5px;    
    font-size: 9pt;
    outline: none;	
}

.doContent:focus {
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 5px 1px #7561F9;  
}

.footer {
	width: 750px;
	height: 30px;
	margin-left: 50px;	
	margin-bottom: 10px;
	/*background: orange;	*/
}

.regiAndUpt {
	width: 680px;
	margin-left: 50px;	
	margin-bottom: 20px;
	/*background: maroon;	*/
	text-align: right;
}

/*========================popUp===================================*/
* {
  margin: 0;
  padding: 0;
}

.dimLayer {
  display: none;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dimLayer .dimBg {  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;  
}

.popLayer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: 400px;
  background-color: #fff;
  border: 5px solid #3571B5;    
}

#popSearch {
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 5px;    
    font-size: 9pt;
    outline: none;	    
}

#popSearch:focus {
    border: 1px #7561F9 solid;
    box-shadow: 1px 1px 5px 1px #7561F9; 	
}

.popLayer .popTop {
  padding: 30px 25px; 
  height: 10px;
  margin-top: 15px;
  /*background: beige;*/
}

.popSearchWrap {
	/*background: black;*/
	float: left;	
}

.popSearchBtnWrap {
	/*background: red;*/
	float: left;
	margin-left:10px;	
}

.popLayer .popContainer {
  padding: 30px 25px; 
  height: 250px;  
  /*background: red*/
}

.popLayer .popTable {    
  border: 1px solid #DADADA;
  width: 320px;
  height: 170px;
  border-radius:5px;  
  overflow-y:scroll;
  padding: 10px 20px;
}

.popTable td {
	border-bottom: 1px solid #DADADA;
	padding-bottom: 10px;
	width: 300px;
	padding-top: 10px;
	padding-left: 15px;
}

.popTable tr:hover {
	background: #F7F7F7; 
}

.popLayer .closeBtnWrap {
  width: 100%;
  margin: 5px 0 20px;
  padding-top: 30px;  
  text-align: right;
}
